<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FPT Play AG iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
				<key>dateExpires</key>
				<string>4/16/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DRMPlayerFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GRPCClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleCast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleInteractiveMediaAds.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Onboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ProtoRPC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxLibrary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SWXMLHash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnowplowTracker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>StarscreamSocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4A529E70E9CAD5951361B0D6593C23E7FC58FDE6</string>
						<key>dateExpires</key>
						<string>4/16/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7755R4CX4U</string>
						<key>name</key>
						<string>FPT TELECOM JOINT STOCK COMPANY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7755R4CX4U.ftel.rad.fptplay.agversion</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7755R4CX4U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FPT Play AG iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>de4ce28a-cf39-4e18-b5dd-c3f82e295454</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: ftel.rad.fptplay.agversion</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7755R4CX4U</string>
				<key>name</key>
				<string>FPT TELECOM JOINT STOCK COMPANY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
